<div class="doct_main_page">
  <div class="grid">
    {% section 'banner_image_career' %}
    {% section 'doctors_fourth_image_with_text' %} 
  </div>
  <div class="doctor-page-width">
   <div class="grid">
      <div class="grid-why-choose-greencare">
    {% section 'careers_three_block' %} 
    </div>
    </div>
    </div>
</div>