{% section 'banner_image_book' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="book">
        <div class="container">
          <h2>Would you like a Single Consult or Health Payment Plans?</h2>
          <div class="bookoption-container">
              <a href="./single-consult">
                <div class="bookoption-item bookoption-nurse">
                  <div class="bookoption-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/icon-cross.png">
                  </div>
                  <h3>Single Consult</h3>
                  <p>Book an appointment with one of our specialist Doctors or Nurses.</p>
                </div>
              </a>

              <a href="./payment-plans">
                <div class="bookoption-item bookoption-calendar">
                  <div class="bookoption-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/icon-calendar.png">
                  </div>
                  <h3>Health Payment Plans</h3>
                  <p>Choose a health payment plan that suits your wellbeing needs and finances.</p>
                  </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>