{% section 'banner_image_book' %}
<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="book">
                <div class="container">
            <h2>Are you eligible?</h2>
            <div class="questionnaire-container" id="questionnaire-container-id">
                <div class="questionnaire-item questionnaire-1">
                    <p>1. Do you suffer from any of the following conditions and have been diagnosed by a registered
                        medical practitioner in Australia?</p>
                    <ul>
                        <li>Sleep issues</li>
                        <li>Anxiety</li>
                        <li>Chronic Pain</li>
                        <li>Chronic Disease</li>
                        <li>Cancer Symptoms</li>
                        <li>Palliative Care</li>
                        <li>Mental Health issues</li>
                        <li>Migraines</li>
                        <li>Neurological conditions (epilepsy, seizures etc)</li>
                        <li>Gut Health conditions (IBS, Chron's Disease, IBD etc)</li>
                    </ul>
                    <div class="questionnaire-radio-container">
                        <label class="questionnaire-radio-label">
                            <input name="questionnaire-1-radio" type="radio" value="yes" />
                            <span>Yes</span>
                        </label>
                        <label class="questionnaire-radio-label">
                            <input name="questionnaire-1-radio" type="radio" value="no" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
                <div class="questionnaire-item questionnaire-2">
                    <p>2. Have you tried conventional treatments for the condition(s) you are considering taking Plant based and Endocannabinoid Medicines before for?</p>
                    <div class="questionnaire-radio-container">
                        <label class="questionnaire-radio-label">
                            <input name="questionnaire-2-radio" type="radio" value="yes" />
                            <span>Yes</span>
                        </label>
                        <label class="questionnaire-radio-label">
                            <input name="questionnaire-2-radio" type="radio" value="no" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
                <div class="questionnaire-item questionnaire-3">
                    <p>3. Have the medication(s) that you have been prescribed for your condition been unsuccessful OR
                        produced side effects that prevent you from taking your medicine(s)?</p>
                    <div class="questionnaire-radio-container">
                        <label class="questionnaire-radio-label">
                            <input name="questionnaire-3-radio" type="radio" value="yes" />
                            <span>Yes</span>
                        </label>
                        <label class="questionnaire-radio-label">
                            <input name="questionnaire-3-radio" type="radio" value="no" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
                <div class="questionnaire-item questionnaire-4">
                    <p>4. Are you 18 years or older?</p>
                    <div class="questionnaire-radio-container">
                        <label class="questionnaire-radio-label">
                            <input name="questionnaire-4-radio" type="radio" value="yes" />
                            <span>Yes</span>
                        </label>
                        <label class="questionnaire-radio-label">
                            <input name="questionnaire-4-radio" type="radio" value="no" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
                <button id="questionnaire-submit">Submit</button>
            </div>
        </div> <!-- container div questionnaire-->


            </div>
        </div>
    </div>
</div>
{{ 'script.js' | asset_url | script_tag }}
<script>
enableRadioButtonsValidation()
questionnaire_btn.addEventListener('click', validateQuestionnaire)
</script>