<div class="doct_main_page">
  <div class="grid">
    {% section 'banner_image_doctor' %}
    {% section 'doctors_image_with_text' %}
    {% section 'doctors_three_block' %}
    {% section 'doctors_fourth_image_with_text' %}  
  </div>
</div>
