<div class="doct_main_page">
  <div class="grid">
    {% section 'banner_image_patient' %}
    {% section 'patients_image_with_text' %}
  </div>
  <div class="grid">
    {% section 'patients_three_block' %}
  </div>
</div>
