<div class="doct_main_page">
  <div class="grid">
    {% section 'banner_image_pricing' %}
    {% section 'pricing_intro' %}

    <div class="doctor-page-width">
      <div class="doctors_image_with_Text">
        <div class="pricing_text_Section">
          <div class="page-width cost_section pricing-table-div" style="max-width: none;">
            <h2 class="h3">Appointment Options</h2>
              <div class="pricing-table">
                <table class="pricing-table-single-appointment">
                  <tr>
                    <td>
                      DR. CONSULT
                    </td>
                    
                    <td>
                      DR. FOLLOW UP
                    </td>
                     
                    <td>
                      NURSE CONSULT
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <span class="pricing-table-color-green">$189</span>
                    </td>

                    <td>
                      <span class="pricing-table-color-green">$99</span>
                    </td>
                    
                    <td>
                      <span class="pricing-table-color-green">$39</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                    <div class="pricing-table-iconblock"><a href="/pages/book-appointment">BOOK NOW</a></div>
                    </td>
                  </tr>                  
                </table>                
            </div>        
          </div>   
              
          <div class="page-width cost_section pricing-table-div" style="max-width: none; margin-top: 40px !important;">
            <h2 class="h3"> Health Payment Plans</h2>
              <div class="pricing-table">       
              <table class="pricing-table-header">
                  <tr class="pricing-border-none">
                    <td>SERVICES
                    </td>
                    <td>STANDARD
                    </td>
                    <td>LIFESTYLE
                    </td>
                    <td>PREMIUM
                    </td>
                  </tr>
                  <tr class="pricing-border-none">
                    <td>
                    </td>
                    <td><span class="pricing-table-color-green"> $19.95<span class="pricing-table-smaller-text"> monthly<br>($239.40 yearly)</span></span><br>
                    </td>
                    <td><span class="pricing-table-color-green"> $29.90 <span class="pricing-table-smaller-text">monthly<br>($358.80 yearly)</span></span><br>
                    </td>
                    <td><span class="pricing-table-color-green"> $39.95 <span class="pricing-table-smaller-text">monthly<br>($479.40 yearly)</span></span><br>
                    </td>
                  </tr>
              </table>         
                <table class="pricing-table-body" style="position: relative;">
                <tr class="pricing-border-top">
                    <td>
                      Doctor Consult <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon">
                    <div class="pop-up-help"></div>   
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Nurse Consult <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon">
                       <div class="pop-up-help"></div>   
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Doctor Follow up Consult <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon">
                       <div class="pop-up-help">
                        </div>   
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Nurse Consult <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon"><br><span class="pricing-table-smaller-text">(recommended at 6 months)</span>
                       <div class="pop-up-help">
                       </div>   
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Doctor Consult <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon"><br><span class="pricing-table-smaller-text">(recommended at 12 months)</span> 
                       <div class="pop-up-help">
                        </div>   
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                  </tr>

                  <tr class="pricing-border-top">
                    <td>
                      Educational Event Invitations <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon"><br><span class="pricing-table-smaller-text">(Up to 3 informative event invitations per year)</span>
                       <div class="pop-up-help"></div>   
                    </td>
                    <td>
                    
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                  </tr>

                  <tr>
                    <td>
                      9pm to 5pm Hotline <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon"><br><span class="pricing-table-smaller-text">(limited to one call per month)</span>
                       <div class="pop-up-help"></div>   
                    </td>
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                    <td>
                      <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                    </td>
                  </tr>

                <tr>
                  <td>
                    Same Day Bookings <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon">
                     <div class="pop-up-help"></div>   
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    After-hours Bookings <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon">
                     <div class="pop-up-help"></div>   
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Pharmacy Assistance <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon"><br><span class="pricing-table-smaller-text">(direct medication delivery to your door)</span>
                     <div class="pop-up-help"></div>   
                  </td>
                  <td>
                   
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Monthly Industry Updates <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon">
                     <div class="pop-up-help"> </div>   
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr class="pricing-border-bottom">
                  <td>
                    Ongoing Subsciption <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/questionark.png" alt="?" class="pricing-question-icon">
                     <div class="pop-up-help"></div>   
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                 <tr>
                  <td colspan="4" style="text-align: center; border: none;">
                   <span class="pricing-table-smaller-text">
                    Terms & Conditions<br>
                    <span style="font-weight: normal">
                Please note, your subscription starts from the day of purchase, not from the day of your first consultation.<br>
                   All Health Payment Plan services must be used within 12 months from the commencement date of your plan. Any unused services will not roll over to the following year.<br>
                   *Annual Health Plans are billed monthly for 12 months from your date of purchase and will roll over automatically if not cancelled before your subscription date.<br>
                  **If you have chosen a Health Payment Plan and your specialist Doctor has recommended a non plant based treatment, Greencare will email you within 48 hours, giving you the option to cancel your subscription and pay the balance of your consultations on a single consult rate.</span><br><br>                    
                  Please see our full Terms and Conditions here: <a href="https://greencare.com.au/pages/terms-of-use">https://greencare.com.au/pages/terms-of-use</a></span><br><br>
                  </td>
                </tr>
                <tr>
                <td colspan="4" style="border: none;">
                  <div class="pricing-table-iconblock"><a href="/pages/book-appointment">BOOK NOW</a></div>
                </td>
                </tr>
              </table>                              
            </div>
        </div>
          {% comment %} Temp Table Start  {% endcomment %}
      <div class="page-width cost_section pricing-table-div" style="max-width: none; margin-top: 40px !important; display: none;">
            <h2 class="h3">Doctor Earnings</h2>
              <div class="pricing-table">       
              <table class="pricing-table-header">
                  <tr class="pricing-border-none">
                    <td style="width: 33%;">
                    </td>
                    <td style="width: 33%; font-size: 25px !important;">Initial Consult
                    </td>
                    <td style="width: 33%; font-size: 25px !important;">Follow Up Consult
                    </td>
                  </tr>
                  <tr class="pricing-border-none">
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
              </table>         
                <table class="pricing-table-body" style="position: relative;">
                <tr class="pricing-border-top">
                    <td style="width: 33%; font-family: 'Sequel Sans Medium Body', Arial, 'Lucida Grande', sans-serif; font-weight: bold;  font-size: 22px !important;">
                      Doctor Fee
                    </td>
                    <td style="width: 33%;  font-size: 22px !important;">
                    $90 per consult
                    </td>
                    <td style="width: 33%;  font-size: 22px !important;">
                   $50 per consult
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Sequel Sans Medium Body', Arial, 'Lucida Grande', sans-serif; font-weight: bold;  font-size: 22px !important;">
                      Time Allocation  
                    </td>
                    <td style="font-size: 22px !important">
                      20 Minutes
                    </td>
                    <td style="font-size: 22px !important">
                     15 Minutes
                    </td>
                  </tr>
                    <tr>
                    <td style="font-family: 'Sequel Sans Medium Body', Arial, 'Lucida Grande', sans-serif; font-weight: bold;  font-size: 22px !important;">
                      Earning Potential
                    </td>
                    <td style="font-size: 22px !important">
                    $270 p/hr
                    </td>
                    <td style="font-size: 22px !important">
                   $200 p/hr
                    </td>
                  </tr>
                   <tr>
                  <td colspan="3" style="text-align: center; border: none;">
                    <span class="pricing-table-smaller-text">
                  * Earnings per hour is indicative based upon a Doctor working within the Time Allocations noted.  Should the time spent with a patient change so too will the overall earning potential.
                    </span>
                  </td>
                </tr>
              </table>                              
            </div>
        </div>
      </div>
      {% comment %} Temp Table Ends {% endcomment %}
      </div>
    </div>
  </div> 
    <div class="grid" style="margin-top: 40px !important;">
      {% section 'pricing_three_block' %}
    </div>
</div>
 
{{ 'script.js' | asset_url | script_tag }}
<script>
pricingIconsRollOver()
</script>