{% section 'banner_image_book' %}
<div class="doct_main_page">
  <div class="grid book">
    <div class="doctor-page-width">
      <div class="doctors_image_with_Text">
        <div class="pricing_text_Section">
            <div class="page-width cost_section pricing-table-div"
                style="max-width: none; margin-top: 40px !important;">
                <h2> Health Payment Plans</h2>
                <div class="pricing-table">
                    <table class="pricing-table-header">
                        <tr class="pricing-border">
                            <td>SERVICES
                            </td>
                            <td>STANDARD
                            </td>
                            <td>LIFESTYLE
                            </td>
                            <td>PREMIUM
                            </td>
                        </tr>
                        <tr class="pricing-border-none">
                            <td>
                            </td>
                            <td><span class="pricing-table-color-green"> $19.95<br><span
                                        class="pricing-table-smaller-text">(monthly)</span></span>
                            </td>
                            <td><span class="pricing-table-color-green"> $29.95<br><span
                                        class="pricing-table-smaller-text">(monthly)</span></span>
                            </td>
                            <td><span class="pricing-table-color-green"> $39.95<br><span
                                        class="pricing-table-smaller-text">(monthly)</span></span>
                            </td>
                        </tr>
                    </table>
                    <table class="pricing-table-body">
                        <tr class="pricing-border-top">
                            <td>
                                Doctor Consult
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Nurse Consult
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Doctor Follow up Consult
                            </td>
                            <td>

                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Nurse Consult<br><span class="pricing-table-smaller-text">(at 6 months)</span>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Doctor Consult<br><span class="pricing-table-smaller-text">(at 12 months)</span>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>

                        <tr class="pricing-border-top">
                            <td>
                                Educational Event Invitations<br><span class="pricing-table-smaller-text">(Up to
                                    3
                                    informative
                                    event invitations per year)</span>
                            </td>
                            <td>

                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                9pm to 5pm Hotline<br><span class="pricing-table-smaller-text">(limited to one
                                    call
                                    per
                                    month)</span>
                            </td>
                            </td>
                            <td>

                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Same Day Bookings
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                After-hours Bookings
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pharmacy Assistance<br><span class="pricing-table-smaller-text">(direct
                                    medication
                                    delivery to
                                    your door)</span>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Repeat Prescriptions
                            </td>
                            <td>

                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Monthly Industry Updates
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>
                        <tr class="pricing-border-bottom">
                            <td>
                                Ongoing Subsciption
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                            <td>
                                <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+"
                                    class="pricing-table-img">
                            </td>
                        </tr>
                         <tr>
                  <td colspan="4" style="border: none; padding-bottom: 40px;">
                   <span class="pricing-table-smaller-text">
                   *Annual Health Plans are billed monthly for 12 months from your date of purchase and will roll over automatically if not cancelled before your subscription date.</br></br>
                  **If you have chosen a Health Payment Plan and your specialist Doctor has recommended a non plant based treatment, Greencare will email you within 48 hours, giving you the option to cancel your subscription and pay the balance of your consultations on a single consult rate. 
                    </span>                     
                  </td>
                </tr>
                        <tr>
                            <td style="font-weight: normal; border: none;">
                                <p class="bold">What appointment type would you like?</p>
                            </td>
                            <td style="border: none;">
                                <button class="pricing-button-option">Standard</button>
                            </td>
                            <td style="border: none;">
                                <button class="pricing-button-option">Lifestyle</button>
                            </td>
                            <td style="border: none;">
                                <button class="pricing-button-option">Premium</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: none;"></td>
                            <td colspan="3" style="border: none;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
{{ 'script.js' | asset_url | script_tag }}
<script>
enablePricingBtnEvent()
</script>