{% section 'banner_image_book' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="book">
        <div class="container">
          <div class="eligibility-results eligibility-results-no">
                <h2>Based on your answers, you may not be eligible to access medicinal plant based and endocannabinoid medicines.</h2>
                <p>This does not mean that you will not be approved for access to plant based and endocannabinoid medicines with the TGA* as
                    they will consider ALL applications from medical practitioners to access plant based and endocannabinoid medicines for
                    their patients, which is where Greencare comes in.</p>
                <p>
                    We recommend booking an appointment with one of our doctors to discuss your health and potential
                    treatment options. They will then go through the application process to the TGA to prescribe you
                    Plant based and Endocannabinoid Medicines if post consultation with you, they believe you would benefit from Plant based and Endocannabinoid Medicines treatment.
                </p>
                <a href="./payment-options"><button>book now</button></a>
                <small>*TGA is the Therapeutic Goods Administration – Australia’s regulatory authority responsible for
                    assessing applications from doctors to prescribe plant based and endocannabinoid medicines. At this time, additional approval
                    from certain State health departments may also be required depending on your State, although it is
                    anticipated that these State approval requirements will be merged with the TGA approval process in
                    the future.
                </small>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>