{% section 'banner_image_book' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="book">
        <div class="container">
          <div class="eligibility-results eligibility-results-yes">
                <h2>Based on your answers, you are potentially eligible to access plant based and endocannabinoid medicines.</h2>
                <p>Please note that eligibility does not guarantee a prescription of Plant based and Endocannabinoid Medicines. Eligibility
                    means you have a higher chance of being granted approval of prescription Plant based and Endocannabinoid Medicines as the
                    TGA
                    takes into consideration your current conditions and past treatments.</p>
                <p>
                To Book now with one of our specialist click the button below. We look forward to welcoming you as a patient.
                </p>
                <a href="./payment-options"><button>book now</button></a>
                <small>*TGA is the Therapeutic Goods Administration – Australia’s regulatory authority responsible for
                    assessing applications from doctors to prescribe medical cannabis. At this time, additional approval
                    from certain State health departments may also be required depending on your State, although it is
                    anticipated that these State approval requirements will be merged with the TGA approval process in
                    the future.</small>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>