{% section 'banner_image_book' %}
<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="book">
                <div class="container">
                  <h2>Single Consult</h2>
                  <div class="bookoption-container">
                    <a href="./confirm?plan=nurse">
                      <div class="bookoption-item bookoption-nurse">
                        <div class="bookoption-icon">
                            <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/icon-nurseface.png?v=1612959638.png">
                        </div>
                        <h3>Nurse</h3>
                        <p>We offer an optional consult with one of our specialist Nurses for any Patients who may want to
                            find out more information about Plant Based and Endocannabinoid Medicines before making their
                            initial Doctor's appointment</p>
                      </div>
                    </a>
                    <a href="./confirm?plan=doctor">
                      <div class="bookoption-item bookoption-calendar">
                        <div class="bookoption-icon">
                            <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/icon-doctor.png">
                        </div>
                        <h3>Doctor</h3>
                        <p>Our Doctors consult with you in depth about your current health, symptoms and past treatments via
                            telehealth. They will work with you to outline a treatment plan to optimise your health and
                            wellbeing.</p>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>