<div class="doct_main_page">
  <div class="grid">
    {% section 'banner_image_doctor' %}
    {% section 'doctors_image_with_text' %}
  </div>
  <div class="doctor-page-width">
   <div class="grid">
      <div class="grid-why-choose-greencare">
    {% section 'doctors_three_block' %}
    </div>
    </div>
    </div>
</div>
