{% section 'banner_image_book' %}
 <div class="container">
            <div class="HD-component">
            <h1>HD BOOKING CONFIRMED</h1>
            </div>
            <!--container HD-component div-->
        </div> <!-- book div-->
{{ 'script.js' | asset_url | script_tag }}
<script>
parseHDComponentEvent()
</script>