<div class="doct_main_page">
  <div class="grid">
    {% section 'banner_image_pricing' %}
    {% section 'pricing_intro' %}

    <div class="doctor-page-width">
      <div class="doctors_image_with_Text">
        <div class="pricing_text_Section">
          <div class="page-width cost_section pricing-table-div" style="max-width: none;">
            <h2 class="h3">Individual Consult</h2>
              <div class="pricing-table">
                <table class="pricing-table-headers">
                  <tr>
                    <td rowspan="2">
                      SINGLE<br>CONSULTS
                    </td>

                    <td>
                      DR. CONSULT
                    </td>

                    <td>
                      DR. FOLLOW UP
                    </td>

                    <td>
                      NURSE CONSULT
                    </td>              
                  </tr>

                  <tr>
                    <td class="pricing-table-color-green">
                      <span class="pricing-table-color-green">$189</span>
                    </td>

                    <td class="pricing-table-color-green">
                      <span class="pricing-table-color-green">$99</span>
                    </td>

                    <td class="pricing-table-color-green">
                      <span class="pricing-table-color-green">$39</span>
                    </td>     

                  </tr>
              </table>                          
            </div>        
          </div>
          <div class="page-width cost_section pricing-table-div" style="max-width: none; margin-top: 40px !important;">
            <h2 class="h3">Health Plans </h2>
              <div class="pricing-table">
                <table class="pricing-table-headers">
                  <tr>
                    <td rowspan="2">
                      HEALTH PLANS<br>(Monthly)
                    </td>

                    <td>
                      MICRO
                    </td>

                    <td>
                      MID
                    </td>

                    <td>
                      MACRO
                    </td>              
                  </tr>

                  <tr>
                    <td class="pricing-table-color-green">
                      <span class="pricing-table-color-green">$19.95</span>
                    </td>

                    <td class="pricing-table-color-green">
                      <span class="pricing-table-color-green">$29.95</span>
                    </td>

                    <td class="pricing-table-color-green">
                      <span class="pricing-table-color-green">$39.95</span>
                    </td>     

                  </tr>
              </table>

              <table class="pricing-table-body">
                <tr class="pricing-border-top">
                  <td>
                    Doctor Consult
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Nurse Consult
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Doctor Follow up Consult
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Nurse Consult (6 month)
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Doctor Consult (12 month)
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr class="pricing-border-top">
                  <td>
                    Educational Event Invitations
                  </td>
                  <td>
                   
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    9 to 5 Hotline
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Same Day Bookings
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    After-hours Bookings
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Pharmacy Assistance
                  </td>
                  <td>
                   
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Repeat Prescriptions
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr>
                  <td>
                    Monthly Industry Updates
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
                <tr class="pricing-border-bottom">
                  <td>
                    Ongoing Subsciption
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                  <td>
                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/Group_238.png" alt="+" class="pricing-table-img">
                  </td>
                </tr>
              </table>                              
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div> 
    <div class="grid" style="margin-top: 40px !important;">
      {% section 'pricing_three_block' %}
    </div>
</div>
