{% section 'banner_image_book' %}
{% comment %} <div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="book">
                <div class="container">
                    <h2>Have you taken our Eligibility test?</h2>
                     <div class="eligility-container">
                        <a href="./payment-options">
                            <div class="eligiblity-item eligility-yes">
                                <div class="questionnaire-icon">
                                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/icon-thumbup.png">
                                </div>
                                <h3>Yes</h3>
                                <p>I've taken the eligibility test.</p>
                            </div>
                        </a>
                        <a href="./questionnaire">
                            <div class="eligiblity-item eligility-no">
                                <div class="questionnaire-icon">
                                    <img src="https://cdn.shopify.com/s/files/1/0438/2697/0775/files/icon-thumbdown.png">
                                </div>
                                <h3>No</h3>
                                <p>I have not taken the eligibility test.</p>
                            </div>
                         </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}